.all
{
  width: 100%;
  height:100%;
}

.articleLink
{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.couterArticle
{
  width: 1200px;
  height:150px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  display: flex;
  align-items: center;                 
  justify-content: center;
  background-color: rgb(117, 124, 33);
}

.counterArticleBackground
{
  width: 100%;
  height:150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(117, 124, 33);
}

.counter
{
  width: 100%;
  height:350px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  color: rgb(117, 124, 33);
  background-color: rgb(32, 32, 32);
}

.buttonsHeading
{
  width: 100%;
  height:30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(32, 32, 32);
}

.buttonsBackground
{
  width: 100%;
  height:200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 254, 209);
}

.buttons
{
  width: 600px;
  height:150px;
  flex-direction: row;
  display: flex;
  background-color: rgb(255, 254, 209);
}

.quizButton
{
  width: 250px;
  height:150px;
  margin-right: 100px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(204, 195, 116);
  text-decoration: none;
  color: black;
}

.quizButton:hover
{
  cursor: pointer;
  background-color: rgb(148, 141, 79);
}

.articleButton
{
  width: 250px;
  height:150px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(204, 195, 116);
}

.articleButton:hover
{
  cursor: pointer;
  background-color: rgb(148, 141, 79);
}

.articleHeading
{
  width: 100%;
  height:40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: rgb(29, 29, 29);
  color: white;
}

.articleBackground
{
  width: 100%;
  height: auto;
}

.article
{
  width: 1200px;
  height: auto;
}

.articleTitle
{
  width: 1200px;
  height:40px;
  font-size: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(88, 90, 74);
  color: white;
}

.articleContent
{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 17px;
  width: 1200px;
  height: auto;
  padding-bottom: 15px;
  background-color: rgb(228, 241, 190);
}

.footer
{
  width: 100%;
  height:30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(29, 29, 29);
  color: white;
}
